// Colors
$white: #fff;
$gray: #7d97ae;
$light-gray: #fafbfc;
$pink: #ff6197;
$yellow: #fed100;
$green: #39cf7c;
$red: #ff6666;
$blue: #00c5fe;
$sky-blue: #f1f8fe;
$light-blue: #82b7e6;
$royal-blue: #1f8beb;
$rebeccapurple: #7e57c2;
$colorTextBasic: #6893b5;


